.container {
  max-width: var(--breakpoint-wide);
  margin: 0 auto;
  padding: var(--space-10) var(--space-16);
}

@media (max-width: 1200px) {
  .container {
    padding: var(--space-10) var(--space-16);
  }
}

@media (max-width: 1024px) {
  .container {
    padding: var(--space-10) var(--space-12);
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--space-6);
  }
}
