:root {
  --palette-neutral-1000: #000;
  --palette-neutral-950: #222;
  --palette-neutral-700: #555;
  --palette-neutral-600: #717171;
  --palette-neutral-500: #888;
  --palette-neutral-350: #b0b0b0;
  --palette-neutral-200: #ddd;
  --palette-neutral-150: #ebebeb;
  --palette-neutral-100: #f0f0f0;
  --palette-neutral-75: #f1f1f1;
  --palette-neutral-50: #f7f7f7;
  --palette-neutral-0: #fff;
  --palette-coral-400: #ff5a7f;
  --palette-coral-500: #ff385c;
  --palette-coral-600: #e61e4d;
  --palette-teal-500: #00a699;
  --palette-teal-600: #008489;
  --palette-rust-600: #c13515;
  --palette-mint-50: #e6f7f5;
  --palette-rose-50: #ffe5e5;
  --palette-amber-50: #fff3cd;
  --palette-amber-800: #856404;
  --palette-black-a08: rgb(0 0 0 / 8%);
  --palette-black-a12: rgb(0 0 0 / 12%);
  --palette-black-a15: rgb(0 0 0 / 15%);
  --palette-black-a18: rgb(0 0 0 / 18%);
  --palette-black-a24: rgb(34 34 34 / 24%);
  --palette-black-a45: rgb(0 0 0 / 45%);
  --palette-black-a70: rgb(0 0 0 / 70%);
  --palette-white-a50: rgb(255 255 255 / 50%);
  --palette-white-a90: rgb(255 255 255 / 90%);
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-16: 64px;
  --motion-duration-fast: 150ms;
  --motion-duration-base: 200ms;
  --motion-duration-slow: 300ms;
  --motion-ease-standard: ease;
  --font-family-base:
    -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;
  --font-size-2xl: 32px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-6: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-pill: 999px;
  --elevation-1: 0 1px 2px var(--palette-black-a08);
  --elevation-2: 0 2px 8px var(--palette-black-a15);
  --elevation-3: 0 2px 16px var(--palette-black-a12);
  --elevation-4: 0 2px 16px var(--palette-black-a18);
  --elevation-5: 0 4px 16px var(--palette-black-a15);
  --elevation-6: 0 4px 24px var(--palette-black-a15);
  --elevation-7: 0 -4px 24px var(--palette-black-a15);
  --elevation-8: 0 0 0 2px var(--palette-black-a24);
  --stack-0: 0;
  --stack-1: 1;
  --stack-2: 2;
  --stack-1000: 1000;
  --stack-1100: 1100;
  --stack-2000: 2000;
  --stack-2001: 2001;
  --stack-3000: 3000;
  --stack-4000: 4000;
  --stack-5000: 5000;
  --stack-6000: 6000;
  --size-px-80: 80px;
  --size-px-89: 89px;
  --size-px-130: 130px;
  --size-px-144: 144px;
  --size-px-1120: 1120px;
  --size-vw-100: 100vw;
  --size-vh-90: 90vh;
  --size-vh-100: 100vh;
  --environment-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --ratio-square: 1 / 1;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-wide: 1400px;
}
